<nav class="admin-menu">
  <button mat-raised-button class="font-primary" [routerLink]="[products.length ? '/manage-products' : '/add-product-landing']">
    <mat-icon>settings</mat-icon>
    Products
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="[products.length ? '/add-product' : '/add-product-landing']">
    <mat-icon>add_circle</mat-icon>
    {{ products.length ? 'Add Product' : 'Start Products' }}
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/admin-report']">
    <mat-icon>bar_chart</mat-icon>
    Sales Reports
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/tickets']">
    <mat-icon>support_agent</mat-icon>
    Support
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/posts-list']">
    <mat-icon>article</mat-icon>
    Blog
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/manage-brands']">
    <mat-icon>branding_watermark</mat-icon>
    Brands
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/manage-categories']">
    <mat-icon>category</mat-icon>
    Categories
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/vat-summary']">
    <mat-icon>receipt_long</mat-icon>
    VAT Summary
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/vat-rate']">
    <mat-icon>percent</mat-icon>
    VAT Rate
  </button>

  <button mat-raised-button class="font-primary" [routerLink]="['/delivery']">
    <mat-icon>van</mat-icon>
    Delivery
  </button>
</nav>
