<section class="container__medium mat-elevation-z2">
  <button mat-raised-button class="margin__top--lg margin__left--md margin__bottom--sm" [routerLink]="['/add-category']">
    <label>Create Category</label>
  </button>

  <div class="margin--md">
    <!-- Table displaying the list of categories -->
    <table mat-table [dataSource]="dataSource" class="mat-table">
      <!-- Category Name Column -->
      <ng-container matColumnDef="category_name">
        <th mat-header-cell *matHeaderCellDef class="font-small">Category Name</th>
        <td mat-cell class="cell_hover font-small" *matCellDef="let category" [routerLink]="['/', 'category-edit', category._id]">
          {{ category.category_name }}
        </td>
      </ng-container>

      <!-- Category Description Column -->
      <ng-container matColumnDef="category_description">
        <th mat-header-cell *matHeaderCellDef class="font-small">Category Description</th>
        <td mat-cell class="cell_hover font-small" *matCellDef="let category" [routerLink]="['/', 'category-edit', category._id]">
          {{ category.category_description | slice: 0:70 }}...read more
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="font-small">Delete</th>
        <td mat-cell *matCellDef="let category">
          <!-- Delete Icon inside the cell -->
          <mat-icon class="delete-icon" (click)="deleteCategory(category._id)">delete</mat-icon>
        </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>



  <!-- Pagination Controls -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  <app-on-sale-category></app-on-sale-category>
  <hr>
</section>
