<div class="container__medium">
<form class="margin--md" [formGroup]="vatForm" (ngSubmit)="submit()" class="form-group">
  <div class="font-primary__name container__center-auto margin__bottom--md margin__left--xsm margin__top--lg">
    Vat Rates
  </div>


  <input class="margin__bottom--xxsm" matInput placeholder="Country" formControlName="country" required />
  <input class="margin__bottom--xxsm" matInput placeholder="Vat Mode" formControlName="vat_mode" required />
  <input class="margin__bottom--xsm" matInput type="number" placeholder="Rate" formControlName="rate" required />

  <button mat-raised-button  type="submit">
    {{ editingId ? 'Update' : 'Create' }}
  </button>
  <button  *ngIf="editingId" mat-button type="button" (click)="cancelEdit()">Cancel</button>
</form>

<hr />

<table mat-table [dataSource]="vatRates" class="mat-elevation-z2">
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let rate">{{ rate.country }}</td>
  </ng-container>

  <ng-container matColumnDef="vat_mode">
    <th mat-header-cell *matHeaderCellDef>Mode</th>
    <td mat-cell *matCellDef="let rate">{{ rate.vat_mode }}</td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef>Rate</th>
    <td mat-cell *matCellDef="let rate">{{ rate.rate }}%</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let rate">
      <button mat-icon-button (click)="edit(rate)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(rate.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['country', 'vat_mode', 'rate', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['country', 'vat_mode', 'rate', 'actions']"></tr>
</table>
</div>
