<section class="container__medium mat-elevation-z2">
  <button mat-raised-button class="margin__top--lg margin__left--md margin__bottom--sm" [routerLink]="['/add-brand']">
    <label>Create Brand</label>
  </button>

  <div class="margin--md">
    <!-- Table displaying the list of categories -->
    <table mat-table [dataSource]="dataSource" class="mat-table">
      <!-- Brand Name Column -->
      <ng-container matColumnDef="brand_name">
        <th mat-header-cell *matHeaderCellDef class="font-small">Brand Name</th>
        <td mat-cell class="cell_hover font-small" *matCellDef="let brand" [routerLink]="['/', 'brand-edit', brand._id]">
          {{ brand.brand_name }}
        </td>
      </ng-container>

      <!-- Brand Description Column -->
      <ng-container matColumnDef="brand_description">
        <th mat-header-cell *matHeaderCellDef class="font-small">Brand Description</th>
        <td mat-cell class="cell_hover font-small" *matCellDef="let brand" [routerLink]="['/', 'brand-edit', brand._id]">
          {{ brand.brand_description | slice: 0:70 }}...read more
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="font-small">Delete</th>
        <td mat-cell *matCellDef="let brand">
          <!-- Delete Icon inside the cell -->
          <mat-icon class="delete-icon" (click)="deleteBrand(brand._id)">delete</mat-icon>
        </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>



  <!-- Pagination Controls -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  <app-on-sale-brand></app-on-sale-brand>
  <hr>
</section>
