<!--<div class="related-products-section">-->
<!--  &lt;!&ndash; Carousel for Related Products by Category &ndash;&gt;-->
<!--  <app-product-related-carousel-->
<!--    [products]="relatedProductsByCategory"-->
<!--    [title]="'Related Products by Category'"-->
<!--  ></app-product-related-carousel>-->

<!--  &lt;!&ndash; Carousel for Related Products by Brand &ndash;&gt;-->
<!--  <app-product-related-carousel-->
<!--    [products]="relatedProductsByBrand"-->
<!--    [title]="'Related Products by Brand'"-->
<!--  ></app-product-related-carousel>-->
<!--</div>-->
