<div class="margin__left--lg margin__right--lg margin__top--sm margin__bottom--lg">
  <form [formGroup]="ticketForm" (ngSubmit)="submitTicket()">

    <!-- Subject Input Field -->
    <div class="form-group__main margin__bottom--xsm">
      <mat-label class="font-secondary__small">Subject</mat-label>

      <!-- Input for the subject of the ticket -->
      <input matInput type="text" id="subject" formControlName="subject" />

      <!-- Display error message if the subject field is invalid and touched -->
      <div *ngIf="ticketForm.get('subject')?.invalid && ticketForm.get('subject')?.touched">
        <small class="text-danger">Subject is required</small>
      </div>
    </div>

    <!-- Message Input Field -->
    <div class="form-group__main margin__bottom--xsm">
      <mat-label class="font-secondary__small">Message</mat-label>
      <!-- Input for the message of the ticket -->
      <input matInput type="text" id="message" formControlName="message" />
      <!-- Display error message if the message field is invalid and touched -->
      <div *ngIf="ticketForm.get('message')?.invalid && ticketForm.get('message')?.touched">
        <small class="text-danger">Message is required</small>
      </div>
    </div>

    <!-- Submit Button -->
    <!-- The button is disabled if the form is not valid -->
    <button mat-raised-button type="submit" [disabled]="!ticketForm.valid">
      <label>Submit Ticket</label>
    </button>
  </form>
</div>
