<!--<div class="related-carousel">-->
<!--  <h3>{{ title }}</h3>-->
<!--  <div class="carousel">-->
<!--    <div *ngFor="let product of products" class="carousel-item">-->
<!--      <img-->
<!--        [src]="product.product_image[0]"-->
<!--        [alt]="product.product_name"-->
<!--        class="carousel-image"-->
<!--      />-->
<!--      <div class="carousel-details">-->
<!--        <p class="product-name">{{ product.product_name }}</p>-->
<!--        <p class="product-price">-->
<!--          {{ product.sizes[0]?.salePrice || product.sizes[0]?.price | currency }}-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
