@import url('../../../../../src/styles.sass')

.product-card-bottom
  display: grid
  grid-template-columns: 1fr 2fr
  height: 100%

.product-card__left
  grid-column: 1/2

.product-card__right
  grid-column: 2 / 3
  display: flex
  flex-direction: column

.wrapper-banner
  display: block
  opacity: 1
  transition: opacity 1.5s ease-in-out, visibility 0.5s ease-in-out

div
  img
    max-width: 100%
    opacity: 0
    animation: fadeIn 2s ease-in forwards
    position: sticky
    z-index: 10
    height: auto
    top: 170px
    overflow: hidden
    margin-bottom: 50px
  p
    font-size: 16px


form
  display: flex
  flex-direction: column

.star
  color: lightgray
  cursor: pointer
  font-size: 22px

  &.filled
    color: gold

.container__stars
  display: flex
  align-items: center

  .star
    margin-right: 2px

.page__row--body
  display: flex
  flex-direction: row

.page__stars
  transform: translateY(1px)

.page__date
  transform: translateY(-8px)

.stars__average
  transform: translateY(4px)

.product-card__left
  .product-image
    width: 100%
    height: auto

  .thumbnail-container
    display: grid
    grid-template-columns: repeat(5, 1fr)
    gap: 5px
    transform: translateY(60px)

    .thumbnail
      width: 100%
      object-fit: cover
      cursor: pointer
      &.selected
        border-color: #007BFF

.custom-tabs
  min-height: 550px

.rating_star
  transform: translateY(7px)

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1


@media only screen and (max-width: 1200px)
  .wrapper-banner
    opacity: 0
    visibility: hidden

  .container-banner
    display: none

@media only screen and (max-width: 650px)
  .product-card-bottom__wrapper
    display: block

  .product-card-bottom
    display: block

  .product-card__left
    position: static
    margin-bottom: 20px

  .product-card__right
    display: block

  .container-banner
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: 1fr

.button-group
  display: flex
  flex-direction: column
