<!-- Display product cards if products exist -->
<div *ngIf="products && products.length > 0">

  <div *ngFor="let product of products; let i = index" class="cart__items-container mat-elevation-z2 margin--xsm">
    <div class="cart__product-image">
      <a [routerLink]="['/products', product.id]">
        <img class="margin__top--md margin__left--md"
             [src]="product.product_image[0]"
             height="150"
             width="150"
             alt="Product Image"/>
      </a>
    </div>
    <div class="cart__info margin__top--md margin__bottom--md margin__right--md">
      <div class="margin__left--md margin__bottom--md">
        <div class="font-primary margin__bottom--xsm">
          <div [routerLink]="['/products', product.id]" class="product-link font-primary">
            {{ product.product_name | slice: 0:80 }}...
          </div>
        </div>

        <!-- Display selected unit and price -->
        <div *ngIf="product.selectedSize" class="font-secondary margin__top--sm">
          <div class="size-info size_tab">
            <div class="font-small">{{ getUnit(product.selectedSize.unitType, product.selectedSize.size, product.selectedSize.sizeLabel) }}</div>
          </div>

          <!-- Only display the normal price if the product is not on sale -->
          <div class="font-primary__label" *ngIf="!product.selectedSize.salePrice || !product.onSale">
            <div class="margin__top--md">
              Price: ${{ product.selectedSize.price }} <div class="font-small">excl. VAT</div>
            </div>
          </div>
        </div>

        <!-- Display sale price if on sale -->
        <div *ngIf="product.selectedSize.salePrice && product.onSale" class="margin__top--sm margin__bottom--xxsm font-primary__title">
          <div class="font-primary__title sale_red">On Sale! Now only {{ product.selectedSize.salePrice | currency }} <div class="font-small">excl. VAT</div> </div>
          <!-- Optionally, display the original price crossed out -->
          <span *ngIf="product.selectedSize.price !== product.selectedSize.salePrice" class="original-price">
           <div class="font-small">Was  {{ product.selectedSize.price | currency }} <div class="font-small">excl. VAT!</div></div>
          </span>
          <div>{{ product.discountPercentage }}% Off</div>
        </div>
      </div>

      <!-- Quantity selection dropdown -->
      <div class="cart__quantity-label margin__left--md margin__top--xxsm margin__bottom--xsm">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <mat-select [(ngModel)]="product.quantity" (selectionChange)="onQuantityChange(product, $event.value)">
            <mat-option *ngFor="let qty of getAvailableQuantities(product)" [value]="qty">
              {{ qty }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <div class="font-small">
          Only <span>{{ product.selectedSize?.quantity }}</span> left in stock
        </div>

        <div *ngIf="product.selectedSize && product.quantity > product.selectedSize.quantity" class="error-message">
          Not enough stock available.
        </div>
      </div>

      <div class="margin__left--md">
        <button mat-raised-button
                [disabled]="product.quantityStock <= 0"
                class="product-card__bottom--left"
                (click)="addToWishlist(product)"
                matTooltip="Add To Wishlist">
          <mat-icon>favorite_border</mat-icon>
        </button>

        <button
          class="color__primary--600 margin__left--xxsm"
          mat-raised-button
          aria-label="icon"
          (click)="removeFromCart(product)"
          matTooltip="Remove From Cart">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Display message if no products are in the cart -->
<div *ngIf="!products || products.length === 0" class="font-secondary margin__left--md empty-cart-message margin__left--sm">
  No products added to cart yet!
</div>
