<div class="container__medium">
  <div class="font-primary__name margin__top--lg margin__bottom--md container__center-auto">Product Management</div>
</div>

<div class="container__medium">
<button mat-raised-button routerLink="/add-product" class="margin__bottom--sm">Add Product</button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="product_image" class="column column-lg">
      <mat-header-cell *matHeaderCellDef class="font-small"> Image</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <img [src]="product.product_image" alt="Product Image" style="max-width: 60px; max-height: 60px;">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_name" class="column column-sm">
      <mat-header-cell *matHeaderCellDef class="font-small"> Product Name</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="font-primary box-width">{{ product.product_name }}</div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price" class="column column-sm">
      <mat-header-cell *matHeaderCellDef class="font-small">Price</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="font-small" *ngIf="product.selectedSize">
          <!-- Display regular price from the selected size -->
          ${{ product.selectedSize.price | number:'1.2-2' }}

          <!-- If product is on sale, display sale price from the selected size -->
          <ng-container *ngIf="product.onSale">
            <div class="sale-price font-small">${{ product.selectedSize.salePrice | number:'1.2-2' }}</div>
          </ng-container>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantityStock" class="column column-sm">
      <mat-header-cell *matHeaderCellDef class="font-small">Stock</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="font-small box-width">{{ product.quantityStock }}</div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discountPercentage" class="column column-lg">
      <mat-header-cell *matHeaderCellDef class="font-small">Discount</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="font-small" *ngIf="product.onSale">{{ product.discountPercentage }}%</div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete" class="column column-md">
      <mat-header-cell *matHeaderCellDef class="font-small">Delete</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <mat-icon (click)="deleteProduct(product.id)" matTooltip="Delete">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="Click for details" [routerLink]="['/edit', row.id]"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons=""></mat-paginator>
</div>
