<mat-card class="container__brand-detail mat-elevation-z2">
  <div class="brand-details margin__top--md margin__bottom--xsm margin__left--md margin__right--md">
    <div class="font-primary">Frequently Bought Together</div>
  </div>

  <div class="brand-card margin__left--md" *ngIf="productsToShow$ | async as products">
    <a class="margin__right--xxxsm" *ngFor="let product of products | slice:0:8" [routerLink]="['/products', product.id]">
      <img
        class="image margin__bottom--xsm"
        [src]="product.product_image[0]"
        alt="{{ product.product_name }}"

        [matTooltip]="'View ' + product.product_name + '!'">
    </a>
  </div>

  <p class="margin__left--md margin__top--md" *ngIf="!(productsToShow$ | async)?.length">
    No related products found.
  </p>
</mat-card>
