<div class="container__medium">
  <form class="margin--md" [formGroup]="deliveryForm" (ngSubmit)="submit()" class="form-group">
    <div class="font-primary__name container__center-auto margin__bottom--md margin__left--xsm margin__top--lg">
      Delivery Settings
    </div>

    <!-- Country Dropdown -->
    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select formControlName="country" required>
        <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Delivery Mode input -->
    <input class="margin__bottom--xxsm" matInput placeholder="Delivery Mode" formControlName="delivery_mode" required />

    <!-- Rate input -->
    <input class="margin__bottom--xsm" matInput type="number" placeholder="Rate" formControlName="rate" required />

    <!-- Submit button -->
    <button mat-raised-button type="submit">
      {{ editingId ? 'Update' : 'Create' }}
    </button>

    <!-- Cancel button (only visible if editing) -->
    <button *ngIf="editingId" mat-button type="button" (click)="cancelEdit()">Cancel</button>
  </form>

  <hr />

  <!-- Delivery Rate Table -->
  <table mat-table [dataSource]="deliveryRates" class="mat-elevation-z2 margin__bottom--md">
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef class="font-small">Country</th>
      <td mat-cell *matCellDef="let rate" class="font-small">{{ rate.country }}</td>
    </ng-container>

    <ng-container matColumnDef="delivery_mode">
      <th mat-header-cell *matHeaderCellDef class="font-small">Mode</th>
      <td mat-cell *matCellDef="let rate" class="font-small">{{ rate.delivery_mode }}</td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef class="font-small">Rate</th>
      <td mat-cell *matCellDef="let rate" class="font-small">{{ rate.rate | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="font-small">Actions</th>
      <td mat-cell *matCellDef="let rate">
        <button mat-icon-button (click)="edit(rate)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(rate.id!)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['country', 'delivery_mode', 'rate', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['country', 'delivery_mode', 'rate', 'actions']"></tr>
  </table>
</div>
